<div class="footer">
     <div class="container foot_1">
       <!--  <div class="foot_t">
            <span><a href=""><img src="__IMG__/zayy/footer-logo.jpg"></a></span>
            <ul>
               <li id="foot_dh">主治病种</li>
               <li><a href="">风湿</a></li>
               <li><a href="">类风湿</a></li>
               <li><a href="">骨质增生</a></li>
               <li><a href="">椎间盘突出</a></li>
               <li><a href="">痛风</a></li>
               <li><a href="">颈椎病</a></li>
               <li><a href="">产后风湿</a></li>
               <li><a href="">坐骨神经痛</a></li>
               <li><a href="">肩周炎</a></li>
               <li><a href="">足跟痛</a></li>
               <li><a href="">肌肉萎缩</a></li>
               <li><a href="">强直性脊柱炎</a></li>
               <li><a href="">网球肘</a></li>
               <li><a href="">腰肌劳损</a></li>
               <li><a href="">骨性关节炎</a></li>
               <li><a href="">风湿关节痛</a></li>
               <li><a href="">股骨头坏死</a></li>
            </ul>
            <p><img src="__IMG__/zayy/footer-tel.jpg"></p>
        </div> -->
        <div class="foot_b">
           <ul>
              <li>温馨提示：本站内容仅供参考，具体治疗需专业医师确诊，欢迎垂询。</li>
              <li>内蒙古中安类风湿骨关节病专科医院有限责任公司 版权所有 蒙ICP备10001933号</li>
              <li>Copyringht© 2016 未经授权禁止转载、摘编、复制或者建立镜像，如有违反，追究法律责任! </li>
           </ul>
           <div class="code"><img data-url="__IMG__/zayy/code.jpg" class="scrollLoading" src="__IMG__/zayy/loading.gif"></div>
        </div>
     </div>
</div>
<!-- baidu staticis -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?f07fcea37b0b4de3f1117ce787a24b21";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- baidu statics -->
<!-- js -->
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<!--<![endif]-->
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
<!-- lazyload -->
<script src="__JS__/lazyload.js"></script>
 <!--Luara js文件-->
 <script src="__JS__/jquery.luara.0.0.1.min.js"></script>
 <!-- 无缝滚动 -->
 <script src="__JS__/scroll.js"></script>
<!-- js -->
<!-- lazyload -->
<script type="text/javascript">
  // lazyload 加载图片
  $(".scrollLoading").scrollLoading();
</script>
