<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no" />
<title>中安医院</title>
<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="__CSS__/style.css" rel="stylesheet">
<!-- <link href="__ROOT__/Public/favicon.ico" type="image/x-icon" rel="shortcut icon"> -->
<!-- font -->
<link rel="stylesheet" href="__CSS__/font-awesome-4.5.0/css/font-awesome.min.css">
 <!--上滑样式-->
<link rel="stylesheet" href="__CSS__/luara.top.css"/>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="__STATIC__/bootstrap/js/html5shiv.js"></script>
<![endif]-->

<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>

