<!DOCTYPE html>
<html>
<head>
	<include file="Public/head"/>
</head>
<body>
<include file="Public/header"/>
	<!--风湿骨病 -->
		<div class="main_1">
		</div>
		<!-- 风湿骨病 -->
	<!-- 内容 -->
	<div class="main">
	 <!-- 绿色多维疗法治疗 -->
	 <div class="main_2">
	 	<div class="main_2btn">
	 		<h3>绿色多维疗法<br>治疗体系</h3>
	 		<div>40年科研成果终获国家专利</div>
	 		<div><a href="http://bft.zoosnet.net/LR/Chatpre.aspx?id=BFT58456979" class="mainclick" target="_blank">点击咨询</a></div>
	 	</div>
	 		<dl>
        	<dd><strong>绿色多维疗法</strong>（专利号：ZL 20111026 05471）是专治风湿骨病的一种开放式的治疗体系，它包括①多维系列药物②多种给药方式 ③多种独特疗法。由中安医院总院长宿峰教授 提出，并由上百位中、蒙、西医专家研发、完 善。目前在临床治疗类风湿疾病取得可喜的成绩。
					<!-- <a href="" class="details">详细</a> -->
        	</dd>
           
        </dl>
	 </div>
	 <!-- 绿色多维疗法治疗 -->
	 <!-- 治疗原理 -->
	 <div class="main_3">
	 	<ul>
        <li id="wz01" class="wz"><strong>“绿色多维疗法”</strong>
				不使用激素及免疫抑制剂作为治疗用药，而是选择名贵昆虫为君药，由多味昆虫和几十种名贵草药共同组成组方，采用因人而异、因病而异，科学辩证、灵活用药的个体化治疗方案。从根本上规避了长期使用激素或免疫抑制剂给患者带来的危害。
        </li>
        <li id="wz02" class="wz">
        <strong>适应病种：</strong>骨关节炎、风湿、类风湿、腰椎间盘突出、强直性脊柱炎、肩周炎、痛风、产后风湿等骨关节疾病<br>
<strong>适应病症：</strong>关节红肿、膝关节冷、痛、行走受限、髋部疼痛、膝盖疼痛有响声、手脚麻木、颈椎病恶心呕吐、颈肩酸痛、弯腰困难、腰部疼痛等骨关节疾病
        </li>
    </ul>
	 </div>
	 <!-- 治疗原理 -->
	 <!-- 专利技术 -->
	 <div class="patent-tech">
	 	<div class="common-tit patentbj"></div>
	 	<div class="patent">
			<div class="intro-tit wauto">国家专利</div>
			<div class="patent-content wauto">
				<div class="patent-left">
					<div class="patent-up">
						<div class="cert-img">
							<img src="__IMG__/zayy/cert1.jpg" width="350" height="206" alt="专利证书">
							<div class="float-cover">国家专利证书
							</div>
						</div>
					</div>
					<div class="patent-down">
						<div class="drug">
							<a href="{:U('Home/Index/details/id/360')}" target="_blank"><img src="__IMG__/zayy/yao1.jpg" width="174" height="103" alt="多维通痹康胶囊"></a>
							<div class="float-cover">多维通痹康胶囊</div>
						</div>
						<div class="drug">
							<a href="{:U('Home/Index/details/id/361')}" target="_blank"><img src="__IMG__/zayy/yao2.jpg" width="174" height="103" alt="多维骨康丸"></a>
							<div class="float-cover">多维骨康丸</div>
						</div>
					</div>
				
				</div>
				<div class="patent-right pleft">
					<div class="drug-content">
						<strong>多维通痹康胶囊</strong>
						<p>结合现代医学理论研制而成，搜风通络、温经散寒、益气养血、化瘀止痛。对腰椎肩盘突出、风湿性关节炎、痛风等病症疗效明显，无任何毒副作用。</p>
						<strong>多维骨康丸</strong>
						<p>补肝肾、强筋骨、活血通络止痛。适用于颈、腰、腿酸软、疼痛、关节僵硬变形、屈伸不利、肢体麻木疲劳乏力、畏寒肢冷、胸闷憋气等中医辩证属肝肾阳虚型痹症。</p>
					</div>
					<div class="patent-btn">
						<a href="{:U('Home/Index/details',array('id'=>$policy[0]['id']))}">
							<img src="__IMG__/zayy/newpolicy.png" >
						</a>
						<a href="http://bft.zoosnet.net/LR/Chatpre.aspx?id=BFT58456979">
							<img src="__IMG__/zayy/consult-free.png" >
						</a>
					</div>
				</div>
			
		</div>
		</div>
	 </div>
	 <!-- 专利技术 -->
	 <!-- 三大理由 -->
	 <div class="three-reason">
	 	<div class="common-tit threebj"></div>
	 	<ul>
    	<li id="ly01" class="ly">
        	<p><strong> “绿色多维疗法”</strong>中“穴位注射”使用代偿痛点给药法，创造了对同一痛点进行叠加式给药新模式，使局部产生药物浓度和疗效大大提高。有效药物刺激穴位后，使局部血管扩张，可达到温通经络，行气活血，祛湿散寒的功效。</p>
        </li>
        <li id="ly02" class="ly">
        	<p><strong>“绿色多维疗法”</strong>以中医为主，以昆虫为君药，避免了传统疗法的毒副作用，具有安全性、高效性、科学性、先进性的时代特点。</p>
        </li>
        <li id="ly03" class="ly">
        	<p><strong>“绿色多维疗法”</strong>的有效药物刺激穴位后，使局部血管扩张，加速血液循环而改善周围组织的营养，可起到消炎退肿得作用;强烈刺激作用可通过神经反射激发机体的调节作用从而使机体的某些抗体形成，提高机体的免疫力，达到对某些免疫功能失调性疾病的防治作用。</p>
        </li>
    </ul>
	 </div>
	 <!-- 三大理由 -->
	 <!-- 六大优势 -->
	 <div class="six-adv">
	 	<div class="common-tit six-advbj"></div>
	 	<div class="main02_l">
        	<ul>
            	<li onmouseover="slide('ldys',1,6,'curr','hwr')" class="curr" id="ldys1">
                <span><img src="__IMG__/zayy/adva1.png" /></span>
                <div class="index_ldys" id="index_ldys1" style="display:block;">
                	<dl>
                    	<dd><img src="__IMG__/zayy/kunchong.jpg" height="278"/></dd>
                        <dt><strong>"昆虫入药 起效快"</strong>昆虫具有很强的搜剔作用，入药可穿透到坚硬骨内，使药物直达病灶，起到入骨化毒，修骨损、祛风邪的作用。</dt>
                    </dl>
                </div>
                </li>	
                
                <li onmouseover="slide('ldys',3,6,'curr','hwr')" id="ldys3" class="hwr">
                	<span><img src="__IMG__/zayy/adva2.png" /></span>
                	<div class="index_ldys" id="index_ldys3" style="display:none;">
                 	<dl>
                    	<dd><img src="__IMG__/zayy/zhenyao.jpg" /></dd>
                        <dt><strong>"针药结合疗效叠加"</strong>将中药提炼成为注射液，通过穴位注射将药物与针灸完美结合，起到双重叠加疗效，事半功倍。</dt>
                    </dl>
                 </div>
                </li>
                <li onmouseover="slide('ldys',4,6,'curr','hwr')" id="ldys4" class="hwr">
                <span><img src="__IMG__/zayy/adva3.png" /></span>
                 <div class="index_ldys" id="index_ldys4" style="display:none;">
                 	<dl>
                    	<dd><img src="__IMG__/zayy/mabi.jpg" /></dd>
                        <dt><strong>"痹胃同治效果奇特"</strong>在治疗骨病的同时胃病也治好了，常规药物对胃的刺激很大，而“多维疗法”以天然蛾类昆虫为君药，不但不刺激肠胃，还能治疗胃病，在治疗风湿病的同时，使胃得以温、肝得以养、脾得以运、肾得以养。</dt>
                    </dl>
                 </div>
                 </li>
                <li onmouseover="slide('ldys',5,6,'curr','hwr')" id="ldys5" class="hwr">
                	<span><img src="__IMG__/zayy/adva4.png" /></span>
                	 <div class="index_ldys" id="index_ldys5" style="display:none;">
                 	<dl>
                    	<dd><img src="__IMG__/zayy/jisu.jpg" /></dd>
                        <dt><strong>"避免激素安全无毒"</strong>“绿色布克多维疗法”不使用激素及免疫抑制作为治疗用药而是选择名贵昆虫为君药，由多味昆虫和几十种名贵草药共同组成组方，从根本上规避了长期使用激素或免疫抑制剂给患者带来的危害。 </dt>
                    </dl>
                 </div>
                </li>
                <li onmouseover="slide('ldys',6,6,'curr','hwr')" id="ldys6" class="hwr">
                	<span><img src="__IMG__/zayy/adva5.png" /></span>
                	<div class="index_ldys" id="index_ldys6" style="display:none;">
                 	<dl>
                    	<dd><img src="__IMG__/zayy/zhongmeng.jpg" /></dd>
                        <dt><strong>"中蒙医学强效结合"</strong>“绿色布克多维疗法”传承了中蒙医学的精粹，并结合多种医疗方法与多种给药途径，突破了过去类风湿骨关节病治疗血药浓度难以长时间保持理想高度的难题，大大提高了类风湿骨关节病的治疗有效率和治愈率</dt>
                    </dl>
                 </div>
                </li>
                <li onmouseover="slide('ldys',2,6,'curr','hwr')" id="ldys2" class="hwr">
                <span><img src="__IMG__/zayy/adva6.png" /></span>
                <div class="index_ldys" id="index_ldys2" style="display:none;">
                  <dl>
                      <dd><img src="__IMG__/zayy/biaoben.jpg" /></dd>
                        <dt><strong>"中医为主标本兼治"</strong>“绿色多维疗法”以中医为主，根据风湿病的多样性制定多样、个性的治疗方案，内治、外治相结合从而达到标本兼治的目的。</dt>
                    </dl>
                </div>
                </li> 
            </ul>
            </div> 
	 </div>
	 <!-- 六大优势 -->
	 <!-- 绿色多维疗法 -->
	 <div class="green-treat">
	 	<div class="common-tit greenbj"></div>
	 	<div class="box4_1">
          <div class="box4_lett">
            <ul>
              <li id="xjjs1" class="curr" onmouseover="slide('xjjs',1,8,'curr','hwr')"><a href="javascript:void(0)">· 穴位注射 ·</a></li>
              <li id="xjjs2" onmouseover="slide('xjjs',2,8,'curr','hwr')"><a href="javascript:void(0)">· 酒火神罐 ·</a></li>
              <li id="xjjs3" onmouseover="slide('xjjs',3,8,'curr','hwr')"><a href="javascript:void(0)">· 多维三针灸  ·</a></li>
              <li id="xjjs4" onmouseover="slide('xjjs',4,8,'curr','hwr')"><a href="javascript:void(0)">· 多维中药封包疗法 ·</a></li>
              <li id="xjjs5" onmouseover="slide('xjjs',5,8,'curr','hwr')"><a href="javascript:void(0)">· 命元脐疗 ·</a></li>
              <li id="xjjs6" onmouseover="slide('xjjs',6,8,'curr','hwr')"><a href="javascript:void(0)">· 痹康金浴汤 ·</a></li>
              <li id="xjjs7" onmouseover="slide('xjjs',7,8,'curr','hwr')"><a href="javascript:void(0)">· 多维系列药物 ·</a></li>
              <li id="xjjs8" onmouseover="slide('xjjs',8,8,'curr','hwr')"><a href="javascript:void(0)">· 专利药物 ·</a></li>
            </ul>
          </div>
          <div class="box4_ri list_xjjs" id="index_xjjs1">
            <img src="__IMG__/zayy/xuewei.jpg" width="700" height="278" />
            <p>适应症：</p>
            <font>关节红肿、膝关节冷、痛、行走受限、髋部疼痛、膝盖疼痛有响声、手脚麻木、颈椎病恶心呕吐、颈肩酸痛、弯腰困难、腰部疼痛等骨关节疾病。</font>
            <p>优势：</p>
            <font>穴位注射不同于传统的穴位疗法，采用独特的针剂进行穴位注射，使得“针”和“药”完美结合，直接作用于患者病灶部位，迅速起效，入骨拔毒、去湿邪。</font>
          </div>
          <div class="box4_ri" id="index_xjjs2" style="display:none">
            <img src="__IMG__/zayy/shenhuo.jpg" width="700" height="278"/>
            <p>适应症：</p>
            <font>关节红肿、膝关节冷、痛、行走受限、髋部疼痛、膝盖疼痛有响声、手脚麻木、颈椎病恶心呕吐、颈肩酸痛、弯腰困难、腰部疼痛等骨关节疾病。</font>
            <p>优势：</p>
            <font>拔罐法与中药疗法相结合的一种治疗方法。药液煎煮后，利用高热排除罐内空气，造成负压，使罐吸附于施术部位，这样既可起到拔罐时的温热刺激和机械刺激作用，又可发挥中药的药理作用，从而提高拔罐的治疗效果</font>
          </div>
          <div class="box4_ri" id="index_xjjs3" style="display:none">
            <img src="__IMG__/zayy/zhenjiu.jpg" width="700" height="278"/>
            <p>适应症：</p>
            <font>关节红肿、膝关节冷、痛、行走受限、髋部疼痛、膝盖疼痛有响声、手脚麻木、颈椎病恶心呕吐、颈肩酸痛、弯腰困难、腰部疼痛等骨关节疾病。</font>
            <p>优势：</p>
            <font>多维三针灸通过刺激患者的穴位，从而缓解人们的疲劳，疏通经络，促进血液循环，治疗针对性非常强。多维三针灸，能够非常好地调节体质，改善免疫功能，现标本同治、消肿止痛的目的。</font>
          </div>
          <div class="box4_ri" id="index_xjjs4" style="display:none">
            <img src="__IMG__/zayy/fengbao.jpg" width="700" height="278"/>
            <p>适应症：</p>
            <font>关节红肿、膝关节冷、痛、行走受限、髋部疼痛、膝盖疼痛有响声、手脚麻木、颈椎病恶心呕吐、颈肩酸痛、弯腰困难、腰部疼痛等骨关节疾病。</font>
            <p>优势：</p>
            <font>“多维中药封包疗法”将多种中药根据不同病情辨证配伍组合而成，独特的配方药物粉碎后封包,通过蒸煮处理后，在人体特定的穴位或病灶来回滚熨,使得药力和热力同时自体表毛窍慢慢地渗透入经络血脉, 具有调理气血、祛风散寒、通窍、活血、止痛、利水消肿之功,以及强筋骨、补肝肾等作用。</font>
          </div>
          <div class="box4_ri" id="index_xjjs5" style="display:none">
            <img src="__IMG__/zayy/jiliao.jpg" width="700" height="278"/>
             <p>适应症：</p>
            <font>关节红肿、膝关节冷、痛、行走受限、髋部疼痛、膝盖疼痛有响声、手脚麻木、颈椎病恶心呕吐、颈肩酸痛、弯腰困难、腰部疼痛等骨关节疾病。</font>
            <p>优势：</p>
            <font>“命元脐疗”根据不同的病症，选择相应的药物，对脐部刺激和吸收作用，以激发经气，疏通经络，促进气血运行，调整人体阴阳与脏腑功能，从而达到防治疾病的目的。</font>
          </div>
          <div class="box4_ri" id="index_xjjs6" style="display:none">
            <img src="__IMG__/zayy/zuyu.jpg" width="700" height="278"/>
             <p>适应症：</p>
            <font>关节红肿、膝关节冷、痛、行走受限、髋部疼痛、膝盖疼痛有响声、手脚麻木、颈椎病恶心呕吐、颈肩酸痛、弯腰困难、腰部疼痛等骨关节疾病。</font>
            <p>优势：</p>
            <font>“痹康金足汤”遵循“中医学”、“经络学”与“足底反射学”之养生机理。通过足浴热能助推原理，使的有效成份溶于水中与脚接触对脚病以及亚健康、风湿性关节炎、神经衰弱、心脑血管病、糖尿病、高血压、失眠、肾虚、等慢性病有着极其神奇的功效。</font>
          </div>
          <div class="box4_ri" id="index_xjjs7" style="display:none">
            <img src="__IMG__/zayy/tangyao.jpg" width="700" height="278"/>
             <p>适应症：</p>
            <font>关节红肿、膝关节冷、痛、行走受限、髋部疼痛、膝盖疼痛有响声、手脚麻木、颈椎病恶心呕吐、颈肩酸痛、弯腰困难、腰部疼痛等骨关节疾病。</font>
            <p>优势：</p>
            <font>为了保证药物的疗效，宿峰院长在长期的风湿骨病实践中，对于提取药物活性成分方面，积累了极为丰富的经验。大量事实证明，宿峰院长通过长期实践所积累起来的医药知识是极为丰富、极为宝贵的。其提出的“用昆虫治疗第二癌症”理论在临床上取得了巨大的成功。</font>
          </div>
          <div class="box4_ri" id="index_xjjs8" style="display:none">
            <img src="__IMG__/zayy/zhuanli.jpg" width="700" height="278"/>
             <p>适应症：</p>
            <font>关节红肿、膝关节冷、痛、行走受限、髋部疼痛、膝盖疼痛有响声、手脚麻木、颈椎病恶心呕吐、颈肩酸痛、弯腰困难、腰部疼痛等骨关节疾病。</font>
            <p>优势：</p>
            <font>中安医院院内制剂及专利药物包括“黑蚂蚁十一味药酒”“多维通鼻康”“多维骨康丸”，是“绿色多维疗法”的核心药物。其特点是消除肿痛快、药物浓度高，也因此备受老患者信赖。</font>
          </div>
        </div>
	 </div>
	 <!-- 绿色多维疗法 -->
	 <!-- 汇聚众多专家 -->
	 <div class="morepro">
	 	<div class="common-tit moreprobj"></div>
	 	<div class="zjtd">
	 		<div class="zjtd_1">
	 		<!-- 内蒙古 -->
	 			<dl>
        	<dd><img src="__IMG__/zayy/treatbg01.jpg" /></dd>
            <dt>
            	<ul>
            		<volist name="nmpro" id="vo">
            		<?php $titp = explode(" ", $vo['title'])?>
                	<li  class="curr" id="{$vo.id}">
                		<a href="{:U('Home/Index/details',array('id'=>$vo['id']))}" target="_blank">
                			<img src="{$vo.cover_id|get_cover='path'}" width="88" height="110" />
                			<div class="float-cover">{$titp.0|mb_substr=0,6,'utf8'}</div>
                		</a>
                	</li>
                </volist>
                 
                </ul>
            </dt>
        </dl>
        <!-- 河北 -->
        <dl>
        	<dd><img src="__IMG__/zayy/treatbg02.jpg" /></dd>
            <dt>
            	<ul>
                <volist name="hbpro" id="vo">
            		<?php $titp = explode(" ", $vo['title'])?>
                	<li  class="curr" id="{$vo.id}">
                		<a href="{:U('Home/Index/details',array('id'=>$vo['id']))}" target="_blank">
                			<img src="{$vo.cover_id|get_cover='path'}" width="88" height="110" />
                			<div class="float-cover">{$titp.0|mb_substr=0,6,'utf8'}</div>
                		</a>
                	</li>
                </volist>
               </ul>
            </dt>
        </dl>
        <!-- 山东 -->
        <dl>
        	<dd><img src="__IMG__/zayy/treatbg03.jpg" /></dd>
            <dt>
            	<ul>
                <volist name="sdpro" id="vo">
            		<?php $titp = explode(" ", $vo['title'])?>
                	<li  class="curr" id="{$vo.id}">
                		<a href="{:U('Home/Index/details',array('id'=>$vo['id']))}" target="_blank">
                			<img src="{$vo.cover_id|get_cover='path'}" width="88" height="110" />
                			<div class="float-cover">{$titp.0|mb_substr=0,6,'utf8'}</div>
                		</a>
                	</li>
                </volist>
               </ul>
            </dt>
        </dl>
	 		</div>
			<div class="zjtd_2">
				<volist name="nmpro" id="vo" limit="1" offset="0" length="1">
				<?php $titp = explode(" ", $vo['title'])?>
				<div  class="index_zjtd" id="index_zjtd{$i}">
         	<span>
         	<a href=""><img src="{$vo.cover_id|get_cover='path'}" width="190" height="200" /></a>
         	<div class="tit-1">{$titp.1}</div>
         	<div class="tit-2">{$titp.0}</div>
         	</span>
            <b><strong>现职：</strong>中安类风湿骨关节病专家</b>
            <p><strong>职称：</strong>{$vo.description|mb_substr=0,80,'utf8'}</p>
         </div>
         </volist>
			</div>
	 	</div>
	 </div>
	 <!-- 汇聚众多专家 -->
	 <!-- 视频病历 -->
	 <div class="video-case">
	 	<div class="common-tit videobj"></div>
	 	<div class="box4">
	 		<div class="box8">
	 			<ul>
	 			<volist name="videocase" id="vo">
	 				<li>
	 					<a href="{:U('Home/Index/details',array('id'=>$vo['id']))}" target="_blank">
	 						<img src="{$vo.cover_id|get_cover='path'}" width="208" height="161">
	 					</a>
	 					<font>
	 						<a href="{:U('Home/Index/details',array('id'=>$vo['id']))}" target="_blank">{$vo.title|mb_substr=0,20,'utf8'}
	 						</a>
	 					</font>
              <p>{$vo.description|mb_substr=0,70,'utf8'}...<a href="{:U('Home/Index/details',array('id'=>$vo['id']))}" class="details">[详情]</a>
              </p>
	 				</li>
	 				</volist>
	 				
	 			</ul>
	 		</div>
	 	</div>
	 </div>
	 <!-- 视频病历 -->
	</div>
	<!-- 内容 -->
	<include file="Public/footer"/>
</body>
<script type="text/javascript">
// 六大优势切换
function slide(types,id,nums,class1,class2) {
for(i=1;i<=nums;i++) {
document.getElementById(types + i).className=class2;
document.getElementById("index_"+types+i).style.display="none";
}
document.getElementById(types+id).className=class1;
document.getElementById("index_"+types+id).style.display="block";
} 
//众多专家
	$(function(){
		$('.zjtd_1 li').hover(function(){
			var id = $(this).attr('id');
			var url = "{:U('Home/Index/proajax')}";
			$.post(url,{id:id},function(data){
				console.log(data.title);
				var tit1 = data.title.split(" ");
				var content = data.description.substr(0,80);
				var html ='<div  class="index_zjtd">';
					  html +='<span>';
					  html +='<a href="">';
					  html +='<img src="'+data.cover_img+'" width="190" height="200" />';
					  html +='</a>';
         		html +='<div class="tit-1">'+tit1[1]+'</div>';
         		html +='<div class="tit-2">'+tit1[0]+'</div>';
         		html +="</span>";
         		html +="<b><strong>现职：</strong>中安类风湿骨关节病专家</b>";
         		html +='<p><strong>职称：</strong>'+content+'</p>';
         		html +="</div>";
         	 $('.zjtd_2').html(html);
           
			});
		},function(){

		});
	})
</script>
</html>